@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide--draggable>.splide__track>.splide__list>.splide__slide{-webkit-user-select:none;-ms-user-select:none;user-select:none}.splide--fade>.splide__track>.splide__list{display:block}.splide--fade>.splide__track>.splide__list>.splide__slide{left:0;opacity:0;position:absolute;top:0;z-index:0}.splide--fade>.splide__track>.splide__list>.splide__slide.is-active{opacity:1;position:relative;z-index:1}.splide--rtl{direction:rtl}.splide--ttb>.splide__track>.splide__list{display:block}.splide--ttb>.splide__pagination{width:auto}.splide__container{box-sizing:border-box;position:relative}.splide__list{margin:0!important;padding:0!important;width:max-content;will-change:transform}.splide.is-active .splide__list{display:-ms-flexbox;display:flex}.splide__pagination{-ms-flex-align:center;align-items:center;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin:0;width:95%}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0}.splide{visibility:hidden}.splide,.splide__slide{outline:none;position:relative}.splide__slide{box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;list-style-type:none!important;margin:0}.splide__slide img{vertical-align:bottom}.splide__slider{position:relative}.splide__spinner{animation:splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__track{overflow:hidden;position:relative;z-index:0}.splide__arrow{-ms-flex-align:center;align-items:center;background:#ccc;border:none;border-radius:50%;display:-ms-flexbox;display:flex;height:2em;-ms-flex-pack:center;justify-content:center;opacity:.7;padding:0;position:absolute;top:50%;transform:translateY(-50%);width:2em;z-index:1}.splide__arrow svg{height:1.2em;width:1.2em}.splide__arrow:hover{cursor:pointer;opacity:.9}.splide__arrow:focus{outline:none}.splide__arrow--prev{left:1em}.splide__arrow--prev svg{transform:scaleX(-1)}.splide__arrow--next{right:1em}.splide__pagination{bottom:.5em;left:50%;padding:0;position:absolute;transform:translateX(-50%);z-index:1}.splide__pagination__page{background:#ccc;border:none;border-radius:50%;display:inline-block;height:8px;margin:3px;opacity:.7;padding:0;transition:transform .2s linear;width:8px}.splide__pagination__page.is-active{background:#fff;transform:scale(1.4)}.splide__pagination__page:hover{cursor:pointer;opacity:.9}.splide__pagination__page:focus{outline:none}.splide__progress__bar{background:#ccc;height:3px;width:0}.splide--nav>.splide__track>.splide__list>.splide__slide{border:3px solid transparent}.splide--nav>.splide__track>.splide__list>.splide__slide.is-active{border-color:#000}.splide--nav>.splide__track>.splide__list>.splide__slide:focus{outline:none}.splide--rtl>.splide__arrows .splide__arrow--prev,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev{left:auto;right:1em}.splide--rtl>.splide__arrows .splide__arrow--prev svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:scaleX(1)}.splide--rtl>.splide__arrows .splide__arrow--next,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next{left:1em;right:auto}.splide--rtl>.splide__arrows .splide__arrow--next svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next svg{transform:scaleX(-1)}.splide--ttb>.splide__arrows .splide__arrow,.splide--ttb>.splide__track>.splide__arrows .splide__arrow{left:50%;transform:translate(-50%)}.splide--ttb>.splide__arrows .splide__arrow--prev,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev{top:1em}.splide--ttb>.splide__arrows .splide__arrow--prev svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:rotate(-90deg)}.splide--ttb>.splide__arrows .splide__arrow--next,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next{bottom:1em;top:auto}.splide--ttb>.splide__arrows .splide__arrow--next svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next svg{transform:rotate(90deg)}.splide--ttb>.splide__pagination{bottom:50%;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;left:auto;right:.5em;transform:translateY(50%)}


body{
  background: #564aaf;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

nav{
  background: #564aaf;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.searcher{
  background: #413883;
  font-weight: 500;
}

.searcher2{
  font-weight: 500;
  padding-right: 60px;
}

.movie-app > row{
  overflow-x: auto;
  flex-wrap: nowrap;
}

.bg-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: crisp-edges;
}

.navv{
  width: 200px;
}

.bg-hero{
    background-color: #f7f7f7;
    color: black;
    text-align: left;
    width: 100%;
    height: 500px;
    margin: 0% auto;
    display: flex;
    font-weight: 500;
    align-items: flex-end;
}

.watch-now{
  background-color: #3f2bf3;
  color: #ffffff;
  box-shadow: 3px 5px 20px 0px #031cfa4d;
}
.watch-now:hover{
  color: #ffffff;
  background-color: #7768ff;
}

.add-favourite{
  background-color: #87868f;
  color: #ffffff;
  margin-left: 20px;
}
.add-favourite:hover{
  background-color: #b5b4b9;
  color: #ffffff;
}

.movie-div{
  display: flex;
  align-items: center;
  padding: 10px;
}

.movie-item{
  border-radius: 20px;
  image-rendering: crisp-edges;
  width: 450px;
  height: 250px;
  object-fit: cover;;
}

.movie-modal{
  border-radius: 20px;
  background-color: rgb(38, 38, 63);
  width: 40%;
  height: 600px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: absolute;
  opacity: 0;
}

.movie-modal button{
  border-radius: 5px;
  padding: 20px 200px;
  margin-top: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}
.btn-fav{
  background-color: rgb(112, 63, 202);
}

.video-container{
  background-color: #000;
  width: 560px;
  height: 320px;
}

.overlay{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 20px;
  width: 450px;
  height: 250px;
  opacity: 0;
}
.overlay:hover{
  cursor: pointer;
  transition: 0.2s;
  opacity: 1;
}
