@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  background: #564aaf;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

nav{
  background: #564aaf;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.searcher{
  background: #413883;
  font-weight: 500;
}

.searcher2{
  font-weight: 500;
  padding-right: 60px;
}

.movie-app > row{
  overflow-x: auto;
  flex-wrap: nowrap;
}

.bg-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: crisp-edges;
}

.bg-hero{
    background-color: #f7f7f7;
    color: black;
    text-align: left;
    width: 100%;
    height: 500px;
    margin: 0% auto;
    display: flex;
    align-items: end;
    font-weight: 500;
}

.watch-now{
  background-color: #3f2bf3;
  color: #ffffff;
  box-shadow: 3px 5px 20px 0px #031cfa4d;
}
.watch-now:hover{
  color: #ffffff;
  background-color: #7768ff;
}

.add-favourite{
  background-color: #87868f;
  color: #ffffff;
  margin-left: 20px;
}
.add-favourite:hover{
  background-color: #b5b4b9;
  color: #ffffff;
}

.movie-div{
  display: flex;
  align-items: center;
  padding: 10px;
}

.movie-item{
  border-radius: 20px;
  image-rendering: crisp-edges;
  width: 500px;
  height: 300px;
  object-fit: cover;;
}

.overlay{
  position: absolute;
  background-color: rgba(9, 255, 0, 0.432);
  border-radius: 20px;
  width: 500px;
  height: 300px;
}
.overlay:hover{
  cursor: pointer;
  transition: 0.2s;
}
